
.input-text-popup {
    position: fixed;
    width: 98%;
    height: 98%;
    background-color: white;
    border-radius: 20px;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 420;
    transition: all 0.6s ease-in-out;
}

textarea {
    position: absolute;
    resize: none;
    width: 95%;
    height: 85%;
    border: none;
    border-radius: 20px;
	outline: inherit;
    top: 4%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#input-text-buttons-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.items-button {
    width: 30%;
    height: 5vmax;
    border-radius: 10px;
    border-radius: 20px;
	outline: inherit;
    font-size: initial;
    color: white;
    transition: all 0.2s ease-in-out; /* or linear */
}

#save-text.disabled-button {
    background-color: #28a74594;
    border: 1px solid #28a745;
    cursor: not-allowed;
}

#save-text.enabled-button {
    background-color: #28a745c4;
    border: 1px solid #28a745;
    cursor: pointer;
}

#save-text.enabled-button:hover {
    background-color: #28a746eb;
}

#save-text.enabled-button:active {
    background-color: #28a746;
}

#close, #confirm-close {
    background-color: #BD2130C4;
    border: 1px solid #BD2130;
    cursor: pointer;
    margin-left: 1%;
}

#close:hover, #confirm-close:hover {
    background-color: #BD2130EB;
}

#close:active, #confirm-close:active {
    background-color: #BD2130;
}

#confirm-popup {
    width: 40%;
    height: 40%;
    background-color: #f0f0f0;
    border: 1px solid #e1e1e1;
    text-align: center;
    color: #171717;
    font-size: 1.3vmax;
}

#alert-text {
    margin-top: 15%;
}

b {
    display: inline;
    font-size: 1.4vmax;
    padding-bottom: 0;
}

#confirm-close, #cancel {
    width: 25%;
    height: 4vmax;
    cursor: pointer;
}

#cancel {
    background-color: #e1e1e1a6;
    border: 1px solid #ccc;
    color: #171717;
}

#cancel:hover {
    background-color: #e1e1e1d9;
}

#cancel:active {
    background-color: #e1e1e1;
}

#how-it-works {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #121212;
    font-size: 1vmax;
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
}

#how-it-works:hover {
    text-decoration: none;
}

#title {
    display: block;
    margin-top: 5vmax;
    font-size: 14vmax;
    font-weight: 700;
    text-align: center;
    /*border-bottom: 1px solid white;*/
}

#description {
    display: block;
    width: 85%;
    height: auto;
    margin: 0 auto;
    margin-top: 4vmax;
    font-weight: 300;
    font-size: 3.1vmax;
    line-height: 1.2;
    text-align: center;
}

#container-buttons {
    display: flex;
    width: 85%;
    height: auto;
    margin: 0 auto;
    margin-top: 10vmax;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3vmax;

    -webkit-touch-callout: none;
    -webkit-user-select: none;  
    -khtml-user-select: none; 
    -moz-user-select: none;  
    -ms-user-select: none;    
    user-select: none;
}

.side-button {
    display: flex;
    width: 49%;
    height: 30vh;
    background-color: #FFFFFF21;
    border: 1px solid #707070;
    border-radius: 10px;

    font-weight: 300;
    font-size: 2.3vmax;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    cursor: pointer;
    position: relative;
}

.side-button-title {
    font-size: 3.5vmax;
    font-weight: 400;
    position: absolute;
    top: 3vmax;
}

#speed {
    background-color: transparent;
    border: none;
    font-size: 2.3vmax;
    color: white;
    font-weight: 300;
    font-style: normal;
    font-family: 'Josefin Sans', sans-serif;
}
    
option {
    font-size: 1.8vmax;
    background-color: #fff;
}

#submit {
    display: flex;
    width: 100%;
    height: 10vh;
    margin-top: 1%;
    background-color: #FFFFFF21;
    border-radius: 10px;

    font-weight: 400;
    font-size: 3.5vmax;
    justify-content: center;
    align-items: center;
}

#submit.enabled-button {
    border: 1px solid #28a745;
    color:#FFFFFF;
    cursor: pointer;
}

#submit.enabled-button:hover, .side-button:hover {
    background-color: #FFFFFF2E;
}

#submit.enabled-button:active, .side-button:active {
    background-color: #FFFFFF40;
}

#submit.disabled-button {
    border: 1px solid #BD2130;
    color:#FFFFFF80;
    cursor: not-allowed;
}

@media (max-width: 991.98px) {
    #confirm-popup {
        width: 60%;
        font-size: 1.8vmax;
    }
    
    b {
        font-size: 2vmax;
        display: block;
        padding-bottom: 10px;
    }
    
    #confirm-close, #cancel {
        width: 35%;
        height: 5vmax;
    }
    
    #alert-text {
        margin-top: 20%;
    }    

    #how-it-works {
        bottom: 0%;
        font-size: 1.8vmax;
    }

    #title {
        font-size: 14vmax;
    }
    
    #description {
        font-size: 3.1vmax;
    }
    
    #container-buttons {
        margin-top: 10vmax;
    }

    .side-button-title {
        top: 3vmax;
    }
    
    #submit {
        height: 10vh;
    }

    .items-button {
        border-radius: 10px;
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    #confirm-popup {
        width: 40%;
        font-size: 1.3vmax;
    }
  
    b {
        display: inline;
        font-size: 1.4vmax; 
        padding-bottom: 0;
    }
    
    #confirm-close, #cancel {
        width: 25%;
        height: 4vmax;
    }
    
    #alert-text {
        margin-top: 15%;
    }

    #how-it-works {
        bottom: 1%;
        font-size: 1vmax;
    }

    #title {
        font-size: 10vmax;
        /*font-size: 12vmax;*/
    }
  
    #description {
        font-size: 2.1vmax;
    }

    #container-buttons {
        margin-top: 8vmax;
        /*margin-top: 9vmax;*/
    }
  
    .side-button-title {
        top: 2vmax;
    }
    
    #submit {
        height: 14vh;
    }

    .items-button {
        border-radius: 20px;
        font-size: initial;
    }
}
