body {
    margin: 0;
    padding: 0;
    background-color: #312B46;
    background-image: radial-gradient(black 1px, transparent 0);
    background-size: 40px 40px;
    background-position: 10px 10px;
    /*background-repeat: repeat;*/
}

#title {
    display: block;
    margin-top: 5vmax;
    color: white;
    font-size: 14vmax;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    /*border-bottom: 1px solid white;*/
}

hr {
    width: 14vmax; /* aumentare - forse-  */
    height: 2px;
    background-color: white;
    margin: 0 auto;
}

/* Cambiare unità di misura */
#description {
    display: block;
    width: 350px;
    height: auto;
    margin: 0 auto;
    margin-top: 35px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 28px;
    
    text-align: center;
}